

/* Style the video: 100% width and height to cover the entire window */
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}

body{
  overflow-x: hidden!important;
}

.textocapa{
    text-align: justify;
    text-indent: 8px;
    text-decoration: italic;
    font-size: 13px!important;
}

.textorodape{
    text-align: center;
    text-indent: 8px;
    text-decoration: italic;
    font-size: 13px!important;
}

.meuvideo{
    position: absolute;
    right: 0;
    bottom: 0;
    top:0;
    left:0;
    z-index:1;
    background-color: rgba(0,0,0,0.6);
    width: 100%; 
    height: 100%;

}

.content_video{
    position:absolute;
    top:25%;
    left:15%;
    z-index:2;
    color: white;
}

/* Estilo css da página inicial da página se montagem de serviço */

.corpo_principal{
    background-color: rgba(0,0,0,0.6);
    margin-top: 20%;
    z-index: 3;
    position: absolute;
    margin-left: 8.5%;
}

.col-md-12 > img{
    padding: 20px;
    margin-left: 28%;
}

label{
    color:white;
    font-family: unb;
}

button{
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    font-family: unb;
}

p{
    color:white;
    text-align: center;
    font-family: unbr;
}

label{
    white-space: nowrap;
    font-size: 14px;
}

.ex2{
    white-space: normal!important;
}

.corpo_secundario{
    padding: 5%;
}

